$media-320-480 : "(min-width: 320px) and (max-width : 480px)";
$media-360 : "only screen and (max-width : 360px)";
$media-480 : "only screen and (max-width : 480px)";
$media-640 : "only screen and (max-width : 640px)";
$media-640-767 : "(min-width: 640px) and (max-width : 767px)";
$media-640-768 : "(min-width: 640px) and (max-width : 768px)";
$media-640-1023 : "(min-width: 640px) and (max-width : 1023px)";
$media-481-640 : "(min-width: 481px) and (max-width : 640px)";
$media-481-768 : "(min-width: 481px) and (max-width : 768px)";
$media-767 : "only screen and (max-width : 767px)";
$media-768 : "only screen and (max-width : 768px)";
$media-768-991 : "(min-width: 768px) and (max-width : 991px)";
$media-768-1023 : "(min-width: 768px) and (max-width : 1023px)";
$media-768-1024 : "(min-width: 768px) and (max-width : 1024px)";
$media-991 : "only screen and (max-width : 991px)";
$media-991-1200 : "(min-width: 991px) and (max-width : 1200px)";
$media-1024 : "only screen and (max-width : 1024px)";
$media-1200: "only screen and (max-width : 1200px)";
$media-1200-more: "only screen and (min-width : 1200px)";
$media-1280 : "only screen and (max-width : 1280px)";
$media-1960 : "only screen and (max-width : 1960px)";