/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
  
 //@import url("../../fonts/all.css");
 // Libraries
@import "foundation"; 
@import "normalize"; 
@import "scissorstyles";
@import "grid-5"; 
  
// Our style rules
@import "variables";
@import "typography";
@import "colors";
@import "components";
@import "snippets";

// Page-specific

// Only browser hacks, ugly code, and shameful acts of SASS go here. Should be empty
@import "shame";

@import "compass/reset";
@import "compass/utilities/sprites";
@import "compass/css3";
@import "mixins";
@import "media"; 
 
$bg_black: #191F22;
$bg_black2: #252525;
$bg_black3: #1c2326;
$bg_green: #3DDA85; 
$bg_white: #FFF; 
$bg_gray: #dadad4;  
$bg_gray2: #b6b8b7; 
$bg_gray3: #e3e3dc;
$bg_gray4: #f3f3f0; 
$bg_blue: #2b3b42;
$bg_green2 :#42ec90; 

 
$txt_white: #FFF;
$txt_gray: #636363;
$txt_gray2: #898989;
$txt_black: #262523;
$txt_green: #4ce49b;

$height_header: 100px;

$font-light: "'AvantGardeGothicITCW01B 731069'";
$font-light-oblique: "'AvantGardeGothicITCW01B 7310722'";
$font-medium: "'AvantGardeGothicITCW01M 731087'";
$font-medium-oblique: "'AvantGardeGothicITCW01M 731090'";
$font-demi: "'AvantGardeGothicITCW01D 731075'";
$font-demi-oblique: "'AvantGardeGothicITCW01D 731078'";
$font-bold: "'AvantGardeGothicITCW01B 731063'";
$font-bold-oblique: "'AvantGardeGothicITCW01B 731066'";

$font-pnova-light: "ProximaNovaLight";
$font-pnova-thin: "ProximaNovaThin";
$font-pnova-regular: "ProximaNovaRegular";
$font-pnova-black: "ProximaNovaBlack";
$font-pnova-sbold: "ProximaNovaSBold";
$font-pnova-bold: "ProximaNovaBold";
$font-pnova-exbold: "ProximaNovaExraBold";

.row{
	max-width: 73.750em;	
}


%responsive{ 
	max-width: 100%;
	height: auto;
	display: block;
}

a.green-button{ 
	color: $txt_white;
	&:hover{
		color: $txt_white;
	}
}

body{ 
	font-family: #{$font-light};
} 

[class*="column"] + [class*="column"]:last-child{
	float: left;
}
  
$browser-context: 16; // Default
 
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}


@include retina-sprite-add(icon, "sprites/icon/*.png", "sprites-2x/icon/*.png");
@include retina-sprite-add(organize-icon, "sprites/organize-icon/*.png", "sprites-2x/organize-icon/*.png");
 
  
.facebook{ 
	@include retina-sprite(facebook);
	margin: 7px auto;
}   
   
.twitter{ 
	@include retina-sprite(twitter);
	margin: 10px auto;
}
 
.google-plus{ 
	@include retina-sprite(google-plus);
	margin: 8px auto;;
} 

.facebook-big{ 
	@include retina-sprite(facebook-big);
	margin: 14px auto;
}   

.twitter-big{ 
	@include retina-sprite(twitter-big);
	margin: 18px auto;
}

.google-plus-big{  
	@include retina-sprite(google-plus-big);
	margin: 16px auto;
}

.program-promotion{ 
	@include retina-sprite(program-promotion,organize-icon);
}

.mentor-recruiment{
	@include retina-sprite(mentor-recruiment,organize-icon);
}
 
.logistics{
	@include retina-sprite(logistics,organize-icon);
}

.fundraising{
	@include retina-sprite(fundraising,organize-icon);
}


.columns-custom-right{
	padding-right: .46875em; 
}

.columns-custom-left{
	padding-left: .46875em;
}

.columns-custom-middle{
	padding-left: .703125em;
	padding-right: .703125em;
}

.header{
	background-color: $bg_black;
	height: $height_header;
	@include clearfix;
} 

%left{
	float: left;
}

#logo-container{
	@extend %left;
	width: 20%;
}

#social-container{
	@extend %left;
	width: 20%;
	height: $height_header;
	position: relative;
} 
 
.menu-container{
	@extend %left;
	width: 60%;
	height: $height_header;
	position: relative;
	margin-right: -1px; 
}
 
.error{
	margin: 5px 0 0;
	font-family: #{$font-pnova-regular};
}

.logo-link{
		@include inline-block;
		margin: 19px 0 0 30px;
	}

.logo-sw{  
	display: block;
	@extend %responsive;
}
 
#menu{
	float: right;
	>li{
		>a{
			color: $txt_white;   
			font-size: em(14);
			font-family: #{$font-demi};
			letter-spacing: 1px;
			overflow: hidden;
 
			>span{
				position: relative;
				@include inline-block;
				-webkit-transition: -webkit-transform 0.3s;
				-moz-transition: -moz-transform 0.3s;
				transition: transform 0.3s;

				&::before{
					position: absolute;
					top: 100%;
					content: attr(data-hover);
					color: $txt_green;
					-webkit-transform: translate3d(0,0,0);
					-moz-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	@include vertical-align-element();
	height: 15px;
	line-height: 15px; 
	left: inherit; 
}


#menu a:hover span,
#menu a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


#menu-mobile{
	@include menu-mobile(50px,5px,#FFF,$bg_black);
	cursor: pointer;
	@include border-radius(3px);
	height: 45px;
	@include vertical-align-element();
}

#social-network{
	@include vertical-align-element();
	right: 40px;
	left: inherit; 
	height: 30px;
	li{
		margin-left: 10px;
	}
}

/*
@font-face
{
	font-family: AvanteGardeGothicPro;
	src: url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Bk.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-BkObl.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Bold.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-BoldObl.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Demi.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-DemiObl.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Md.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-MdObl.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-XLt.otf') format("opentype"),
     	 url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-XLtObl.otf') format("opentype"); 
} 
*/ 


#main-image-content{
	@include clearfix;
}

#main-image{
	background: url("../images/main-image.jpg") no-repeat center;
	background-size: cover;
	height: 540px; 
	position: relative;
	&:after {
	    content: "";
	    position: absolute;
	    background: rgba(0, 0, 0, 0.4);
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 1;
	 }

}  

#main-image-child{
	position: absolute;
    box-shadow: 0 -130px 100px -50px rgba(0,0,0,.6) inset;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}  

#main-title{
	margin: 145px 0 0;
	padding: 0 2%;
	position: relative;
	z-index: 2;
	text-align: center;
	h1{
		font-size: em(35);
		color: $txt_white;
		font-weight: 900;
		line-height: 62px;
		font-family: #{$font-bold};
	}
}

.green-button{
	display: block;
	background-color: $bg_green;
	font-size: em(20);
	text-align: center; 
	padding: 20px 0;
	text-transform: uppercase;
	color: $txt_white;
	letter-spacing: 1px;
	@include border-radius(3px);
	font-family: #{$font-demi};  
}

#contain-buttons{
	margin: 55px 0 0 0;
	.green-button{
		@include transition(background-color 0.5s ease-out);
		//-webkit-transition: margin 0.5s ease-out,background-color 0.5s ease-out;
    	//-moz-transition: margin 0.5s ease-out;
   		//-o-transition: margin 0.5s ease-out;
   		&:hover{
    		//margin-top: -10px;
    		background-color:  darken($bg_green, 10%);
   		}
	}
} 

#contain-thumbs{
	background-color: $bg_white;
	margin: -120px 0 0 0;
	min-height: 190px;
	position: relative;
	z-index: 4;
	padding: 1.171875em ;
	@include border-radius(3px);
	
}

#contain-shadow{
	height: 95px;
	width: 100%;
	position: relative;
	top: -20px;
	@include box-shadow(0px, 0px, 50px, -12px, black);
}

.title-thumbnail{
	background-color: $bg_black2;
	padding: 10px 0;
	font-size: em(15);
	text-align: center;
	color: $txt_white; 
	//font-family: "proxima-nova",sans-serif;
	//font-weight: 600;
	font-family: #{$font-pnova-sbold};
	letter-spacing: 1px;
	@include transition(all .5s ease-out 1s);
	position: relative;
	z-index: 2;
	top: 0;
}

.img-thumbs-container{
	margin: 0 0 10px;
	display: block;
	@include clearfix;
	> img{
		@include transition(all .8s ease-out 1s);
		position: relative;
		top: 0;
	}
	&:hover{
		>.title-thumbnail{
			top: -120px;
		}
		> img{
			top: 38px;
		}
	}
}

#description-title,#education-title{
	text-align: center;
	margin: 65px 0 30px;
	h3{
		font-size: em(27);
		font-family: #{$font-bold};
	} 
}

#description-text{
	p{
		font-size: em(15);
		line-height: 30px;
		text-align: center;
		color: $txt_gray;
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-regular};
	}
}

#newsletter{
	min-height: 110px;
	background-color: $bg_gray;
	padding: 30px 0 ;
	margin: 80px 0 0;
	@include box-sizing;
}

%newsletter-style{
	height: 45px;;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	@include box-sizing;
	color: $txt_black;
	padding: 10px 20px;
	width: 100%;
	display: block;
}

.newsletter-form{
	#email-newsletter{ 
		@extend %newsletter-style;
	}

	#button-newsletter{
		background-color: $bg_green;
		color: $txt_white;
		text-align: center;
		padding: 14px 0;
		border: none;
		width: 100%;
		display: block;
		font-size: em(15);
		font-family: #{$font-demi};
	}
	
}

#newsletter{
	@include box-shadow(0, 0, 20px, 0, $bg_gray);
	h4{
		font-size: em(18);
		margin: 0 0 15px;
		font-family: #{$font-bold};
		letter-spacing: 1px;
	}
	p{
		font-size: em(14);
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-regular};
	}
}

.img-education{
	height: 180px;
	position: relative;
	img{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto 20px;
		//@include transition(transform .8s);

		&:hover{
			//@include transform(rotate(-360deg));
		}
	}
}

.title-education{
	margin: 0 0 15px;
	text-align: center;
	h4{
		font-size: em(25);
		font-weight: 900;
		color: $txt_black;
		font-family: #{$font-bold};
	}
}

.text-education{
	p{
		color: $txt_black;
		font-size: em(15);
		line-height: 25px;
		text-align: center; 
		font-weight: 400;  
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-regular};
	}
}

#education-container{
	margin: 0 0 110px;
	@include clearfix;
}

#footer-top{
	background-color: $bg_gray2;
	height: 30px;
} 

#footer-bottom{
	background-color: $bg_black3;
	min-height: 320px;
	@include box-sizing;
	padding: 90px 0 0 0;
}

.footer-label{
	margin: 0 0 65px;
	h5{
		color: $txt_white;
		font-size: em(20);
		font-family: #{$font-demi};
		letter-spacing: 1px;
	}
}

.state{ 
	li{
		color: $txt_white;
		margin: 0 0 25px;
		font-size: em(12);
		font-family: #{$font-demi};
		a{
			color: $txt_white;
			&:hover{
				color: $txt_green;
			}
		} 
	}
} 

.swedu-link{ 
	color: $txt_green; 
}
 
%social-net{
	background-color: $bg_blue;
	border-radius: 100%;
	text-align: center;
	display: block;
	&:hover{
		background-color: $bg_green2;
	}
}

.footer-logos{
	@include inline-block;
	a{		
		@extend %social-net;
		height: 55px;
		width: 55px;
		@include clearfix;
	}
}

.header-logos{
	height: 30px;
	@include clearfix;
	a{
		@extend %social-net;
		height: 30px;
		width: 30px;	
		@include clearfix;
	}
}

.footer-container-mini{
	text-align: center;
	.footer-label-margin{
		text-align: left;
		margin: 0 0 0 25px;
	}
}

.footer-list{
	text-align: left;
}

/* About */

.leader-img{ 
	text-align: center;
}

#mission-title,.beliefs-title,#impact-title{
	h3{
		font-family: #{$font-bold};
	}
}


.big-numbers{
	h4{
		font-family: #{$font-bold};
	}
}

.impact-text{
	p{
		line-height: 20px;
		color: $txt_gray;
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-regular};
		font-size: em(15);
	}
} 

.leaders-title{
	h3{
		font-family: #{$font-demi};
	}
}

#leaders-list{ 
	>div{
		>div{
			&:first-child + div{
				margin-left: 41.66px;
				margin-right: 41.66px;
			}
			&:first-child + div + div + div{
				margin-left: 41.66px;
				margin-right: 41.66px;
			}
			>div{ 
				&:nth-child(2){
					margin-left: 41.66px;
					margin-right: 41.66px;
				}
				&:nth-child(4){
					margin-left: 41.66px;
					margin-right: 41.66px;
				}
			}
		}
	}
}


#beliefs-text{
	//font-family: "proxima-nova",sans-serif;
	font-family: #{$font-pnova-regular};
	color: $txt_gray;
	line-height: 30px;
}

.leaders-name,.leader-title,.leaders-info{
	font-family: #{$font-medium};
}

#mission-button{
	/*@include transition(transform .5s ease-out);
	&:hover{
		@include transform(scale(1.05,1.05));
	}*/
}


/* Organize */

#involved{
	margin: 65px 0; 
}

#organize-title{
	h1{
		font-size: em(35);
		font-family: #{$font-bold};
	}
}

#organize-text-intro{
	margin: 45px 0;
	font-family: #{$font-demi};
	font-size: em(28);
	color: $txt_black;
	line-height: em(20);
}

.involved-button{
	margin: 0;
} 

#meaning-title,#who-title{
	margin: 0 0 30px;
	h2{
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-sbold};
		font-size: em(27);
		//font-weight: 700;
	}
}

.organize-text{
	p{
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-regular};
		font-size: em(14);
		line-height: em(30);
		color: $txt_gray;
	}
}

.meaning-single-title,.who-single-title{
	h3{
		//font-family: "proxima-nova",sans-serif;
		font-family: #{$font-pnova-sbold};
		font-size: em(24);
		//font-weight: 700;
		margin: 0 0 15px;
	}
}

.meaning-single{
	margin: 70px 0;
}

.organize-program{
	margin: 0 0 50px;
}

#who{ 
	margin: 0 0 60px;
}

/*Menu*/

#jPanelMenu-menu{
	background-color: $bg_black;
	li{
		display: block;
		float: none;
		border-bottom: 1px solid #FFFFFF;
		margin-left: 0;
		text-align: center;
		a{
			padding: 30px 0;
			color: $txt_white;
		}
		&:hover{
			background-color: $bg_green;
		}
	}

	overflow-y: hidden !important;  
}


/*Suscribe*/

#suscribe-form{
	background-color: $bg_gray;
	//height: 500px;
	padding: 25px;
	@include clearfix;
}

#newsletter-suscribe{
	margin: 65px 0;
	h1{
		font-size: em(35);
		font-family: #{$font-bold};
	}
}

#suscribe-form{
	margin: 0 0 65px;
	label{
		font-size: em(18);
		margin: 0 0 15px;
		font-family: #{$font-bold};
		letter-spacing: 1px;
	}

	.input{
		@extend %newsletter-style; 
	}
}

#button-suscribe{
	padding: 15px 0;
	color: $txt_white;
	margin: 20px 0;
	background-color: $bg_green;
	display: block;
	border: none;
	font-size: em(32);
	font-family: #{$font-pnova-regular};
	width: 100%;
	letter-spacing: 5px;
	border-radius: 8px;
	box-shadow: 0px 9px 0px darken($bg_green, 10%);
	@include transition(all .1s ease);
	position: relative;
	
	&:active{
		box-shadow: 0px 3px 0px darken($bg_green, 10%);
		position: relative;
		top: 6px;
	}

}

/* Newsletter */

.number-question{
	background-color: $bg_green;
	border-radius: 100%;
	height: 70px;
	width: 70px;
	color: $txt_white;
	text-align: center;
	margin: 15px auto;
	line-height: 70px;
	font-size: 36px;
	&.green{
		background-color: $bg_green;
	}
	&.blue{
		background-color: $bg_blue;
	}
}


.question-divisions{
	label{
		font-family: $font-pnova-sbold;
		font-size: em(24);
		display: block;
		margin: 10px 0 10px;
	}
}

#question-form{
	@include clearfix;
	input{
		@extend %newsletter-style; 
		border: 1px solid #e3e3dc;
	}
	
}

#questions-title{
	margin: 0 0 20px;
	h1{
		font-size: em(35);
		font-family: #{$font-bold};
	}
}

#content-questions{
	margin: 65px 0;
}

.question-container{
	//background-color: $bg_gray3;
	padding: 20px;
	border-bottom: 1px solid $bg_gray; 
}

#instructions{
	font-family: $font-pnova-regular;
	font-size: em(18);
	line-height: em(22);
}


/*Event*/

#event-title{
	margin: 65px 0 25px;
	h1{
		font-size: em(50);
		font-family: #{$font-demi};
	}
}

#submenu{
	@include navigation-list($txt-green,transparent,0 15px 0 0);
	a{
		font-size: em(12);
		font-family: #{$font-demi};
		text-transform: uppercase;
	}
	@include clearfix;
}

#main-image-event{
	margin: 35px 0;
}

.subtitle-event{
	h2{
		font-family: #{$font-bold};
		font-size: em(32);
	}
	margin: 0 0 20px;
}

.container-section{
	font-family: #{$font-demi};
	margin: 0 0 80px;
	h6{
		font-family: #{$font-bold};
		font-size: em(12);
	}
	p{
		font-size: em(12);
		line-height: em(24);
	}
}
.event-list{
	list-style-type: disc;
	margin: 0 0 30px 20px;
	li{
		margin: 10px 0;
		font-size: em(12);
	}

}

#table-schedule{
	h3{
		font-family: #{$font-bold};
		font-size: em(24);
		margin: 30px 0;
	}
	.activity{
		margin: 10px 0;
		font-size: em(14);
		font-family: #{$font-demi};
	}
	.hour{
		margin: 10px 0;
		font-size: em(14);
		font-family: #{$font-demi};
		color: $txt_gray;
	}
}

.organizer{
	margin: 40px 0 0 0;
	.description{
		span{
			font-family: #{$font-bold};
		}
		font-size: em(12);
		line-height: em(28);
		font-family: #{$font-demi};
		margin: 0 0 10px;
	}
	.mail-organizer{
		color: $txt-green;
	}
}

.mentor-description{
	margin: 20px 0 0 0;
	font-family: #{$font-medium};
	.name{
		font-size: em(18);
		margin: 0 0 10px;
	}
	.rol{
		font-size: em(15);
		margin: 0 0 10px;
	}
	.twitter-mentor{
		font-size: em(12);
		color: $txt-green;
	}
}

.sponsors-range{
	font-size: em(20);
}

.sponsors-img{
	margin: 20px 0 40px;
	.img-sponsors{
		position: relative;
		height: 90px;
		img{
			@include vertical-align-element;
			right: inherit;
		}	
	}
}

.blog-entry{
	margin: 0 0 45px 0;
	.date{
		font-size: em(14);
		margin: 0 0 10px;
	}
	.title{
		font-size: em(20);
		margin: 0 0 20px;
		font-family: #{$font-bold};
	}
	.description{
		font-size: em(12);
		margin: 0 0 20px;
		font-family: #{$font-medium};
		line-height: em(28);
	}
	.read-more{
		font-size: em(12);
		font-family: #{$font-bold};
		a{
			color: $txt-green;
		}
	}

}

#square-address{
	margin: 65px 0 0;
	background-color: $bg_gray4; 
}

#square-header{
	padding: 10px 10px 20px;
	border-bottom: 1px solid #dfdfde;
	#dates{
		font-size: em(17);
		font-family: #{$font-bold};
		margin: 0 0 10px;
	}
	span{
		font-family: #{$font-medium};
		font-size: em(12);
		&.cost{
			color: $txt-green;
		}
	}
}

#square-body{
	padding: 20px 10px;
	font-size: em(12);
	line-height: em(22);
	font-family: #{$font-medium};
}
 
#square-footer{
	padding: 20px 10px;
	.green-button{
		@include transition(background-color 0.5s ease-out);
   		&:hover{
    		background-color:  darken($bg_green, 10%);
   		}
	}
}

.sign-up{
	margin: 20px 0 10px;
	font-size: em(14);
	padding: 2px 0;
	border-bottom: 1px solid $bg_gray3;
	@include inline-block;
}

#main-image-event{
	position: relative;
	h2{
		font-size: 33px;
		font-family: #{$font-light};
		text-shadow: 2px 2px 2px rgba(38,37,35,.50);
		@include vertical-align-element;
		display: block; 
		height: 33px;
		color: $txt_white;
		margin-left: 40px;
		text-transform: uppercase;
	}
}

.styled-select-content{
	@include custom-dropdown(100%,50px,0 auto,$bg_green,$txt_white,em(18), 15px, 13%, 30%);
	.styled-select-option{
		-moz-transform: translateY(15px);
	}
}

@media #{$media-1024} {
	#description-title{
		margin: 0;
	}

	#footer-bottom{
		@include box-sizing;
		padding: 20px 0 0 0;
	}

	#newsletter{
		margin: 40px 0 0;
	}

	.separator{
		margin: 0;
	}

	#leaders-list{ 
		>div{
			>div{
				>div{ 
					&:nth-child(2){
						margin: 0;
					}
					&:nth-child(4){
						margin: 0;
					}
				}
			}
		}

	}

	#square-address{
		margin: 10px 0 30px;
	}

	#mission-title{
		margin: 40px 0 0;
		font-size: em(25);
		line-height: em(30);
	}

	#beliefs-title{
		margin: 42px 0 0;
	}

	.impact-stats{
		margin: 45px 0;
	}

	.footer-container-mini{
		margin: 0 0 30px;
	}

	.footer-label{
		margin: 0 0 40px;
	}

}

@media #{$media-768-1023} {
	#logo-container{
		width: 20%;
	}

	.menu-container{
		width: 60%;
	}

	#social-container{
		width: 20%;
	}

	#social-network{
		right: 20px;
	}
}

@media #{$media-640-1023} {
	.footer-logos{
		li{
			margin-left: 10px;
		} 
		
	}

}

@media #{$media-640-767} {
	#logo-container{
		width: 30%;
	}

	.menu-container{
		width: 30%;
	}

	#social-container{
		width: 40%;
	}

	.footer-container-mini{
		margin: 0  0 20px;
	}

	#main-image-event{
		h2{
			font-size: em(24);
		}
	}
}

@media #{$media-640} { 
	.columns-custom-right{
		padding-right: 0.9375em; 
	}

	.columns-custom-left{
		padding-left: 0.9375em;
	}

	.columns-custom-middle{
		padding-left: 0.9375em;
		padding-right: 0.9375em;
	}

	.green-button{
		margin: 0 0 20px;
	}

	#main-title{
		margin: 50px 0 0;
	}

	#description{
		padding: 0 20px;
	}


	#education-title{
		margin: 30px 0 0;
	}

	#description-title{
		margin: 0 0 10px;
		font-size: em(14);
	}

	#newsletter{
		p{
			margin: 10px 0;
		}
	}

	#education-container {
	    margin: 0 0 50px;
	    padding: 0 20px;
	}

	#logo-container{
		width: 30%;
	}

	.menu-container{
		width: 25%;
	}

	#social-container{
		width: 45%;
	}
 
	#main-title h1{
		font-size: em(24);
		line-height: 40px;
	}

	.logo-link{
		display: block;
		margin: 10px auto 0 1px;
	}

	#description-text{
		p{
			line-height: 20px;
		}
	}

	.header,#logo-container,.menu-container,#social-container{
		height: 65px;
	}

	.footer-container-mini .footer-label-margin{
		text-align: center;
	}

	.logo-sw{
		width: 100px;
		margin: 0 auto;
		position: relative;
		left: 5px;
	}

	#social-network{
		right: 10px;
	}

	#mission-title{
		margin: 20px 0 0;
		font-size: em(18);
		line-height: em(23);
	}

	#beliefs-title{
		margin: 15px 0 0;
	}

	.impact-stats{
		margin: 15px 0;
		padding: 20px 0;
	}

	.big-numbers{
		padding: 30px 0 0;
	}

	.footer-label{
		margin: 0 0 15px;
	}

	#social-network li{
		margin-left: 5px
	}

	#mission-button{
		margin: 15px 0;
	}

	#beliefs-text{
		line-height: 20px;
		margin: 15px 0;
	}

	#newsletter{
		h4{
			text-align: center;
		}
	}

	.program-promotion,.mentor-recruiment,.logistics,.fundraising{ 
		margin: 0 auto;
	}

	.meaning-single{
		margin: 30px 0;
	}

	.program-promotion, .mentor-recruiment, .logistics, .fundraising{
		margin: 0 auto 14px;
	}

	#involved{
		margin: 30px 0;
	}

	#organize-text-intro{
		font-size: em(16);
		margin: 15px 0;
	}

	.organizer{
		.organizer-img{
			text-align: center;
		}
	}

	.mentor{
		text-align: center;
		margin: 0 0 20px;
	}

	.sponsors-img{
		text-align: center;
		.img-sponsors{
			img{
				position: static;
			}
		}
	}

	.container-section{
		margin: 0 0 30px;
	}

	#event-title{
		margin: 30px 0 25px;
	}

	#event-title{
		h1{
			font-size: em(24);
			font-family: #{$font-bold};
		}
	}

	#main-image-event{
		h2{
			text-align: center;
			margin-left: 10px;
			font-size: em(14);
			height: em(14);
		}
	}
	

	.subtitle-event{
		h2{
			font-size: em(20);
		}
	}

	#table-schedule{
		h3{
			font-size: em(16);
		}
	}

	.sponsors-range{
		font-size: em(16);
		margin: 0 0 0 30px;
	}

	.sponsors-img{
		margin: 20px 0;
	}

	#submenu{
		li{
			margin: 10px 0 0;
		}
	}

}
