<footer class="footer">
<div id="footer-top"></div>
  <div id="footer-bottom">

	<div class="row">
		 
		<div class="large-4 large-uncentered medium-6 medium-centered small-12 small-centered columns">
			<div class="footer-container-mini">
				<div class="footer-label">
					<h5 class="footer-label-margin">Sponsored by:</h5>
				</div>

				<div class="footer-sponser">
					<a href="http://www.gatesfoundation.org/">
						<img src="{{ 'bill-melinda.png' | theme_image_url }}" alt="" />
					</a>
				</div>
			</div>
		</div>

		<div class="large-4 large-uncentered medium-6 medium-uncentered small-12 small-centered columns">
			<div class="footer-container-mini">
				<div class="footer-label">
					<h5>Contact us at <span class="swedu-link">swedu.sw.org</span></h5>
				</div>
	 
				<div class="footer-logos">
					<ul class="inline-list">
						<li><a href="#">
							<div class="facebook-big"></div>
						</a></li>
				        <li><a href="#">
				        	<div class="twitter-big"></div>
				        </a></li>
				        <li><a class="green-social" href="#">
				        	<div class="google-plus-big"></div>
				        </a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="large-4 large-uncentered medium-6 medium-uncentered small-12 small-centered columns">
			<div class="footer-container-mini">
				<div class="footer-label">
					<h5 class="footer-label-margin">Attend a SWEDU</h5>
				</div>

				<div class="footer-list">
					<div class="row">
						<div class="large-6 large-uncentered medium-6 medium-uncentered small-6 small-uncentered columns">
							<ul class="state">
								<li>Seattle, WA</li> 
								<li>San Francisco, CA</li>
								<li>Detroit, MI</li>
							</ul> 
						</div>
						<div class="large-6 large-uncentered medium-6 medium-uncentered small-6 small-uncentered columns">
							<ul class="state">
								<li>Seattle, WA</li> 
								<li>San Francisco, CA</li>
								<li>Detroit, MI</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
</footer>
