<header class="header">
		<div id="logo-container">
			<a href="/" class="logo-link">
				<img class="logo-sw" src="{{ 'sw-logo.png' | theme_image_url }}" alt="" />
		    </a>
		</div> 
		<div class="hide-for-small menu-container">
		    <ul id="menu" class="inline-list">
		        <li><a href="/about">ABOUT</a></li>
		        <li><a href="/organize">ORGANIZE</a></li>
		        <li><a href="#">ATTEND</a></li>
		        <li><a href="#">NEWSLETTER</a></li>
		        <li><a href="#">BLOG</a></li> 
		    </ul>
	    </div>
		<div id="social-container">
			<div class="header-logos">
			    <ul id="social-network" class="inline-list">
			        <li><a href="#">
			        	<div class="facebook"></div>
			        </a></li>
			        <li><a href="#">
			        	<div class="twitter"></div>
			        </a></li>
			        <li><a class="green-social" href="#">
			        	<div class="google-plus"></div>
			        </a></li>
			    </ul>
			</div>
		</div>
		<div class="show-for-small menu-container">
			<div id="menu-mobile">
		    	<div class="lines"></div>
		    	<div class="lines"></div>
		    	<div class="lines"></div>
		    </div>
		</div>

</header>

