@import url("../fonts/all.css");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; 
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 49, ../sass/screen.scss */
.logo-sw {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 55, ../sass/screen.scss */
a.green-button {
  color: white;
}
/* line 57, ../sass/screen.scss */
a.green-button:hover {
  color: white;
}

/* line 62, ../sass/screen.scss */
body {
  font-family: 'AvantGardeGothicITCW01B 731069';
}

/* line 66, ../sass/screen.scss */
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* line 80, ../sass/screen.scss */
.facebook {
  height: 16px;
  width: 9px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 -113px;
  background-repeat: no-repeat;
  margin: 7px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 80, ../sass/screen.scss */
  .facebook {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 -106.5px;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 85, ../sass/screen.scss */
.twitter {
  height: 12px;
  width: 14px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 -68px;
  background-repeat: no-repeat;
  margin: 10px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 85, ../sass/screen.scss */
  .twitter {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 -65px;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 90, ../sass/screen.scss */
.google-plus {
  height: 15px;
  width: 16px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 -51px;
  background-repeat: no-repeat;
  margin: 8px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 90, ../sass/screen.scss */
  .google-plus {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 -49px;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 95, ../sass/screen.scss */
.facebook-big {
  height: 29px;
  width: 18px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 -82px;
  background-repeat: no-repeat;
  margin: 14px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 95, ../sass/screen.scss */
  .facebook-big {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 -77px;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 100, ../sass/screen.scss */
.twitter-big {
  height: 20px;
  width: 25px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 -29px;
  background-repeat: no-repeat;
  margin: 18px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 100, ../sass/screen.scss */
  .twitter-big {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 -28px;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 105, ../sass/screen.scss */
.google-plus-big {
  height: 27px;
  width: 27px;
  background-image: url('../images/sprites/icon-s7a09e31e51.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 16px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 105, ../sass/screen.scss */
  .google-plus-big {
    background-image: url('../images/sprites-2x/icon-s7b18fb16c5.png');
    background-position: 0 0;
    -webkit-background-size: 27px auto;
    -moz-background-size: 27px auto;
    -o-background-size: 27px auto;
    background-size: 27px auto;
  }
}

/* line 110, ../sass/screen.scss */
.program-promotion {
  height: 112px;
  width: 144px;
  background-image: url('../images/sprites/organize-icon-s22b4c56d19.png');
  background-position: 0 -344px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 110, ../sass/screen.scss */
  .program-promotion {
    background-image: url('../images/sprites-2x/organize-icon-s1536862349.png');
    background-position: 0 -172px;
    -webkit-background-size: 87px auto;
    -moz-background-size: 87px auto;
    -o-background-size: 87px auto;
    background-size: 87px auto;
  }
}

/* line 114, ../sass/screen.scss */
.mentor-recruiment {
  height: 118px;
  width: 126px;
  background-image: url('../images/sprites/organize-icon-s22b4c56d19.png');
  background-position: 0 -224px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 114, ../sass/screen.scss */
  .mentor-recruiment {
    background-image: url('../images/sprites-2x/organize-icon-s1536862349.png');
    background-position: 0 -112px;
    -webkit-background-size: 87px auto;
    -moz-background-size: 87px auto;
    -o-background-size: 87px auto;
    background-size: 87px auto;
  }
}

/* line 118, ../sass/screen.scss */
.logistics {
  height: 131px;
  width: 116px;
  background-image: url('../images/sprites/organize-icon-s22b4c56d19.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 118, ../sass/screen.scss */
  .logistics {
    background-image: url('../images/sprites-2x/organize-icon-s1536862349.png');
    background-position: 0 0;
    -webkit-background-size: 87px auto;
    -moz-background-size: 87px auto;
    -o-background-size: 87px auto;
    background-size: 87px auto;
  }
}

/* line 122, ../sass/screen.scss */
.fundraising {
  height: 89px;
  width: 174px;
  background-image: url('../images/sprites/organize-icon-s22b4c56d19.png');
  background-position: 0 -133px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 122, ../sass/screen.scss */
  .fundraising {
    background-image: url('../images/sprites-2x/organize-icon-s1536862349.png');
    background-position: 0 -66.5px;
    -webkit-background-size: 87px auto;
    -moz-background-size: 87px auto;
    -o-background-size: 87px auto;
    background-size: 87px auto;
  }
}

/* line 128, ../sass/screen.scss */
.header {
  background-color: #191f22;
  height: 100px;
}
/* line 154, ../sass/_mixins.scss */
.header {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
.header:before, .header:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
.header:after {
  clear: both;
}

/* line 134, ../sass/screen.scss */
#logo-container, #social-container, .menu-container {
  float: left;
}

/* line 138, ../sass/screen.scss */
#logo-container {
  width: 20%;
}

/* line 143, ../sass/screen.scss */
#social-container {
  width: 20%;
  height: 100px;
  position: relative;
}

/* line 150, ../sass/screen.scss */
.menu-container {
  width: 60%;
  height: 100px;
  position: relative;
}

/* line 158, ../sass/screen.scss */
.logo-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 19px 0 0 30px;
}

/* line 163, ../sass/screen.scss */
.logo-sw {
  display: block;
}

/* line 168, ../sass/screen.scss */
#menu {
  float: right;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 15px;
  line-height: 15px;
  left: inherit;
}
/* line 171, ../sass/screen.scss */
#menu li a {
  color: white;
  font-size: 0.875em;
  font-family: 'AvantGardeGothicITCW01D 731075';
  letter-spacing: 1px;
}

/* line 184, ../sass/screen.scss */
#menu-mobile {
  padding: 5px;
  background-color: white;
  width: 50px;
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  height: 45px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
/* line 196, ../sass/_mixins.scss */
#menu-mobile > .lines {
  width: 90%;
  background-color: #191f22;
  height: 5px;
  margin: 5px auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

/* line 192, ../sass/screen.scss */
#social-network {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 40px;
  left: inherit;
  height: 30px;
}
/* line 197, ../sass/screen.scss */
#social-network li {
  margin-left: 10px;
}

/*
@font-face
{
  font-family: AvanteGardeGothicPro;
  src: url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Bk.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-BkObl.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Bold.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-BoldObl.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Demi.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-DemiObl.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-Md.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-MdObl.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-XLt.otf') format("opentype"),
       url('../../fonts/AvantGardeGothicPro/ITCAvantGardePro-XLtObl.otf') format("opentype"); 
}
*/
/* line 154, ../sass/_mixins.scss */
#main-image-content {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
#main-image-content:before, #main-image-content:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
#main-image-content:after {
  clear: both;
}

/* line 224, ../sass/screen.scss */
#main-image {
  background: url("/images/main-image.jpg") no-repeat center;
  background-size: cover;
  height: 540px;
  position: relative;
}
/* line 229, ../sass/screen.scss */
#main-image:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 242, ../sass/screen.scss */
#main-image-child {
  position: absolute;
  box-shadow: 0 -130px 100px -50px rgba(0, 0, 0, 0.6) inset;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* line 252, ../sass/screen.scss */
#main-title {
  margin: 145px 0 0;
  padding: 0 2%;
  position: relative;
  z-index: 2;
  text-align: center;
}
/* line 258, ../sass/screen.scss */
#main-title h1 {
  font-size: 2.1875em;
  color: white;
  font-weight: 900;
  line-height: 62px;
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 267, ../sass/screen.scss */
.green-button {
  display: block;
  background-color: #3dda85;
  font-size: 1.25em;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: 'AvantGardeGothicITCW01D 731075';
}

/* line 280, ../sass/screen.scss */
#contain-buttons {
  margin: 55px 0 0 0;
}

/* line 284, ../sass/screen.scss */
#contain-thumbs {
  background-color: white;
  margin: -120px 0 0 0;
  min-height: 190px;
  position: relative;
  z-index: 4;
  padding: 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}

/* line 295, ../sass/screen.scss */
#contain-shadow {
  height: 95px;
  width: 100%;
  position: relative;
  top: -20px;
  -webkit-box-shadow: 0px 0px 50px -12px black;
  -moz-box-shadow: 0px 0px 50px -12px black;
  box-shadow: 0px 0px 50px -12px black;
}

/* line 303, ../sass/screen.scss */
.title-thumbnail {
  background-color: #252525;
  padding: 10px 0;
  font-size: 0.9375em;
  text-align: center;
  color: white;
  font-family: ProximaNovaSBold;
  letter-spacing: 1px;
}

/* line 315, ../sass/screen.scss */
.img-thumbs-container {
  margin: 0 0 10px;
}
/* line 154, ../sass/_mixins.scss */
.img-thumbs-container {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
.img-thumbs-container:before, .img-thumbs-container:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
.img-thumbs-container:after {
  clear: both;
}

/* line 320, ../sass/screen.scss */
#description-title, #education-title {
  text-align: center;
  margin: 65px 0 30px;
}
/* line 323, ../sass/screen.scss */
#description-title h3, #education-title h3 {
  font-size: 1.6875em;
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 330, ../sass/screen.scss */
#description-text p {
  font-size: 0.9375em;
  line-height: 30px;
  text-align: center;
  color: #636363;
  font-family: ProximaNovaRegular;
}

/* line 340, ../sass/screen.scss */
#newsletter {
  min-height: 110px;
  background-color: #dadad4;
  padding: 30px 0;
  margin: 80px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 349, ../sass/screen.scss */
.newsletter-form #email-newsletter {
  height: 45px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #262523;
  padding: 15px 20px;
  width: 100%;
  display: block;
}
/* line 361, ../sass/screen.scss */
.newsletter-form #button-newsletter {
  background-color: #3dda85;
  color: white;
  text-align: center;
  padding: 14px 0;
  border: none;
  width: 100%;
  display: block;
  font-size: 0.9375em;
  font-family: 'AvantGardeGothicITCW01D 731075';
}

/* line 375, ../sass/screen.scss */
#newsletter {
  -webkit-box-shadow: 0 0 20px 0 #dadad4;
  -moz-box-shadow: 0 0 20px 0 #dadad4;
  box-shadow: 0 0 20px 0 #dadad4;
}
/* line 377, ../sass/screen.scss */
#newsletter h4 {
  font-size: 1.125em;
  margin: 0 0 15px;
  font-family: 'AvantGardeGothicITCW01B 731063';
  letter-spacing: 1px;
}
/* line 383, ../sass/screen.scss */
#newsletter p {
  font-size: 0.875em;
  font-family: ProximaNovaRegular;
}

/* line 390, ../sass/screen.scss */
.img-education {
  height: 180px;
  position: relative;
}
/* line 393, ../sass/screen.scss */
.img-education img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto 20px;
}

/* line 402, ../sass/screen.scss */
.title-education {
  margin: 0 0 15px;
  text-align: center;
}
/* line 405, ../sass/screen.scss */
.title-education h4 {
  font-size: 1.5625em;
  font-weight: 900;
  color: #262523;
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 414, ../sass/screen.scss */
.text-education p {
  color: #262523;
  font-size: 0.9375em;
  line-height: 25px;
  text-align: center;
  font-weight: 400;
  font-family: ProximaNovaRegular;
}

/* line 425, ../sass/screen.scss */
#education-container {
  margin: 0 0 110px;
}
/* line 154, ../sass/_mixins.scss */
#education-container {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
#education-container:before, #education-container:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
#education-container:after {
  clear: both;
}

/* line 430, ../sass/screen.scss */
#footer-top {
  background-color: #b6b8b7;
  height: 30px;
}

/* line 435, ../sass/screen.scss */
#footer-bottom {
  background-color: #1c2326;
  min-height: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 90px 0 0 0;
}

/* line 442, ../sass/screen.scss */
.footer-label {
  margin: 0 0 65px;
}
/* line 444, ../sass/screen.scss */
.footer-label h5 {
  color: white;
  font-size: 1.25em;
  font-family: 'AvantGardeGothicITCW01D 731075';
  letter-spacing: 1px;
}

/* line 453, ../sass/screen.scss */
.state li {
  color: white;
  margin: 0 0 25px;
  font-size: 0.75em;
  font-family: 'AvantGardeGothicITCW01D 731075';
}

/* line 461, ../sass/screen.scss */
.swedu-link {
  color: #4ce49b;
}

/* line 465, ../sass/screen.scss */
.footer-logos a, .header-logos a {
  background-color: #2b3b42;
  border-radius: 100%;
  text-align: center;
  display: block;
}
/* line 470, ../sass/screen.scss */
.footer-logos a.green-social, .header-logos a.green-social {
  background-color: #42ec90;
}

/* line 475, ../sass/screen.scss */
.footer-logos {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 477, ../sass/screen.scss */
.footer-logos a {
  height: 55px;
  width: 55px;
}
/* line 154, ../sass/_mixins.scss */
.footer-logos a {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
.footer-logos a:before, .footer-logos a:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
.footer-logos a:after {
  clear: both;
}

/* line 485, ../sass/screen.scss */
.header-logos {
  height: 30px;
}
/* line 154, ../sass/_mixins.scss */
.header-logos {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
.header-logos:before, .header-logos:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
.header-logos:after {
  clear: both;
}
/* line 488, ../sass/screen.scss */
.header-logos a {
  height: 30px;
  width: 30px;
}
/* line 154, ../sass/_mixins.scss */
.header-logos a {
  *zoom: 1;
}
/* line 158, ../sass/_mixins.scss */
.header-logos a:before, .header-logos a:after {
  content: "";
  display: table;
}
/* line 162, ../sass/_mixins.scss */
.header-logos a:after {
  clear: both;
}

/* line 496, ../sass/screen.scss */
.footer-container-mini {
  text-align: center;
}
/* line 498, ../sass/screen.scss */
.footer-container-mini .footer-label-margin {
  text-align: left;
  margin: 0 0 0 25px;
}

/* line 504, ../sass/screen.scss */
.footer-list {
  text-align: left;
}

/* About */
/* line 510, ../sass/screen.scss */
.leader-img {
  text-align: center;
}

/* line 515, ../sass/screen.scss */
#mission-title h3, .beliefs-title h3, #impact-title h3 {
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 522, ../sass/screen.scss */
.big-numbers h4 {
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 528, ../sass/screen.scss */
.impact-text p {
  line-height: 20px;
  color: #636363;
  font-family: ProximaNovaRegular;
  font-size: 0.9375em;
}

/* line 538, ../sass/screen.scss */
.leaders-title h3 {
  font-family: 'AvantGardeGothicITCW01D 731075';
}

/* line 544, ../sass/screen.scss */
#beliefs-text {
  font-family: ProximaNovaRegular;
  color: #636363;
  line-height: 30px;
}

/* line 551, ../sass/screen.scss */
.leaders-name, .leader-title, .leaders-info {
  font-family: 'AvantGardeGothicITCW01M 731087';
}

/* Organize */
/* line 557, ../sass/screen.scss */
#involved {
  margin: 65px 0;
}

/* line 562, ../sass/screen.scss */
#organize-title h1 {
  font-size: 2.1875em;
  font-family: 'AvantGardeGothicITCW01B 731063';
}

/* line 568, ../sass/screen.scss */
#organize-text-intro {
  margin: 45px 0;
  font-family: 'AvantGardeGothicITCW01D 731075';
  font-size: 1.75em;
  color: #262523;
  line-height: 1.25em;
}

/* line 576, ../sass/screen.scss */
.involved-button {
  margin: 0;
}

/* line 580, ../sass/screen.scss */
#meaning-title, #who-title {
  margin: 0 0 30px;
}
/* line 582, ../sass/screen.scss */
#meaning-title h2, #who-title h2 {
  font-family: ProximaNovaSBold;
  font-size: 1.6875em;
}

/* line 591, ../sass/screen.scss */
.organize-text p {
  font-family: ProximaNovaRegular;
  font-size: 0.875em;
  line-height: 1.875em;
  color: #636363;
}

/* line 601, ../sass/screen.scss */
.meaning-single-title h3, .who-single-title h3 {
  font-family: ProximaNovaSBold;
  font-size: 1.5em;
  margin: 0 0 15px;
}

/* line 610, ../sass/screen.scss */
.meaning-single {
  margin: 70px 0;
}

/* line 614, ../sass/screen.scss */
.organize-program {
  margin: 0 0 50px;
}

/* line 618, ../sass/screen.scss */
#who {
  margin: 0 0 60px;
}

/*Menu*/
/* line 624, ../sass/screen.scss */
#jPanelMenu-menu {
  background-color: #191f22;
  overflow-y: hidden !important;
}
/* line 626, ../sass/screen.scss */
#jPanelMenu-menu li {
  display: block;
  float: none;
  border-bottom: 1px solid #FFFFFF;
  margin-left: 0;
  text-align: center;
}
/* line 632, ../sass/screen.scss */
#jPanelMenu-menu li a {
  padding: 30px 0;
}
/* line 635, ../sass/screen.scss */
#jPanelMenu-menu li:hover {
  background-color: #3dda85;
}

@media only screen and (max-width: 1024px) {
  /* line 644, ../sass/screen.scss */
  #description-title {
    margin: 0;
  }

  /* line 648, ../sass/screen.scss */
  #footer-bottom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0 0 0;
  }

  /* line 653, ../sass/screen.scss */
  #newsletter {
    margin: 40px 0 0;
  }

  /* line 657, ../sass/screen.scss */
  .separator {
    margin: 0;
  }

  /* line 661, ../sass/screen.scss */
  #mission-title {
    margin: 40px 0 0;
    font-size: 1.5625em;
    line-height: 1.875em;
  }

  /* line 667, ../sass/screen.scss */
  #beliefs-title {
    margin: 42px 0 0;
  }

  /* line 671, ../sass/screen.scss */
  .impact-stats {
    margin: 45px 0;
  }

  /* line 675, ../sass/screen.scss */
  .footer-container-mini {
    margin: 0 0 30px;
  }

  /* line 679, ../sass/screen.scss */
  .footer-label {
    margin: 0 0 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 686, ../sass/screen.scss */
  #logo-container {
    width: 20%;
  }

  /* line 690, ../sass/screen.scss */
  .menu-container {
    width: 60%;
  }

  /* line 694, ../sass/screen.scss */
  #social-container {
    width: 20%;
  }

  /* line 698, ../sass/screen.scss */
  #social-network {
    right: 20px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  /* line 705, ../sass/screen.scss */
  .footer-logos li {
    margin-left: 10px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  /* line 714, ../sass/screen.scss */
  #logo-container {
    width: 30%;
  }

  /* line 718, ../sass/screen.scss */
  .menu-container {
    width: 30%;
  }

  /* line 722, ../sass/screen.scss */
  #social-container {
    width: 40%;
  }

  /* line 726, ../sass/screen.scss */
  .footer-container-mini {
    margin: 0  0 20px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 732, ../sass/screen.scss */
  .green-button {
    margin: 0 0 20px;
  }

  /* line 736, ../sass/screen.scss */
  #main-title {
    margin: 50px 0 0;
  }

  /* line 740, ../sass/screen.scss */
  #description {
    padding: 0 20px;
  }

  /* line 745, ../sass/screen.scss */
  #education-title {
    margin: 30px 0 0;
  }

  /* line 749, ../sass/screen.scss */
  #description-title {
    margin: 0 0 10px;
    font-size: 0.875em;
  }

  /* line 755, ../sass/screen.scss */
  #newsletter p {
    margin: 10px 0;
  }

  /* line 760, ../sass/screen.scss */
  #education-container {
    margin: 0 0 50px;
    padding: 0 20px;
  }

  /* line 765, ../sass/screen.scss */
  #logo-container {
    width: 30%;
  }

  /* line 769, ../sass/screen.scss */
  .menu-container {
    width: 25%;
  }

  /* line 773, ../sass/screen.scss */
  #social-container {
    width: 45%;
  }

  /* line 777, ../sass/screen.scss */
  #main-title h1 {
    font-size: 1.5em;
    line-height: 40px;
  }

  /* line 782, ../sass/screen.scss */
  .logo-link {
    display: block;
    margin: 10px auto 0 1px;
  }

  /* line 788, ../sass/screen.scss */
  #description-text p {
    line-height: 20px;
  }

  /* line 793, ../sass/screen.scss */
  .header, #logo-container, .menu-container, #social-container {
    height: 65px;
  }

  /* line 797, ../sass/screen.scss */
  .footer-container-mini .footer-label-margin {
    text-align: center;
  }

  /* line 801, ../sass/screen.scss */
  .logo-sw {
    width: 100px;
    margin: 0 auto;
    position: relative;
    left: 5px;
  }

  /* line 808, ../sass/screen.scss */
  #social-network {
    right: 10px;
  }

  /* line 812, ../sass/screen.scss */
  #mission-title {
    margin: 20px 0 0;
    font-size: 1.125em;
    line-height: 1.4375em;
  }

  /* line 818, ../sass/screen.scss */
  #beliefs-title {
    margin: 15px 0 0;
  }

  /* line 822, ../sass/screen.scss */
  .impact-stats {
    margin: 15px 0;
    padding: 20px 0;
  }

  /* line 827, ../sass/screen.scss */
  .big-numbers {
    padding: 30px 0 0;
  }

  /* line 831, ../sass/screen.scss */
  .footer-label {
    margin: 0 0 15px;
  }

  /* line 835, ../sass/screen.scss */
  #social-network li {
    margin-left: 5px;
  }

  /* line 839, ../sass/screen.scss */
  #mission-button {
    margin: 15px 0;
  }

  /* line 843, ../sass/screen.scss */
  #beliefs-text {
    line-height: 20px;
    margin: 15px 0;
  }

  /* line 849, ../sass/screen.scss */
  #newsletter h4 {
    text-align: center;
  }

  /* line 854, ../sass/screen.scss */
  .program-promotion, .mentor-recruiment, .logistics, .fundraising {
    margin: 0 auto;
  }

  /* line 858, ../sass/screen.scss */
  .meaning-single {
    margin: 30px 0;
  }

  /* line 862, ../sass/screen.scss */
  .program-promotion, .mentor-recruiment, .logistics, .fundraising {
    margin: 0 auto 14px;
  }

  /* line 866, ../sass/screen.scss */
  #involved {
    margin: 30px 0;
  }

  /* line 870, ../sass/screen.scss */
  #organize-text-intro {
    font-size: 1em;
    margin: 15px 0;
  }
}