---
title: Organize

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

<section>
	<div class="row">
		<div class="large-12 columns medium-12 columns small-12 columns">
			<div id="involved">
				<div id="organize-title">
					<h1>Get involved</h1>
				</div>
				<p id="organize-text-intro">
					NEXT is made possible by the dedication of local community leaders and mentors who want to make a difference in their ecosystem!
				</p>
				<div class="row">
					<div class="large-4  medium-6 columns">
						<a class="involved-button green-button" href="#"> INLINE BUTTON STYLE </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 

<section>
	<div class="row">
		<div class="large-12 medium-12 columns">
			<div id="meaning">
				<div id="meaning-title">
					<h2>What Does Being a City Coordinator Mean? </h2>
				</div>
				<div class="organize-text">
					<p>We provide the curriculum, resources, and tools as well as training and hands-on support but the overall success of the program is dependent on your efforts. Become a part of the world's largest distribution network for entrepreneurial education and make an impact in your community.</p>
				</div>
				<div class="meaning-single">
					<div class="row">
						<div class="large-3  medium-3 small-12 columns">
							<div class="program-promotion"></div>
						</div>
						<div class="large-9 medium-9 small-12 columns">
							<div class="meaning-single-title">
								<h3>Program Promotion</h3>
							</div>
							<div class="organize-text">
								<p>Highly motivated and committed entrepreneurs make for a high-energy program. You will need to get creative and find ways to recruit entrepreneurs and startup teams into your local program.</p>
							</div>
						</div>
					</div>
				</div> 
				<div class="meaning-single">
					<div class="row">
						<div class="large-3  medium-3 small-12 columns">
							<div class="mentor-recruiment"></div>
						</div>
						<div class="large-9 medium-9 small-12 columns">
							<div class="meaning-single-title">
								<h3>Mentor Recruitment</h3>
							</div>
							<div class="organize-text">
								<p>Highly engaged and committed mentors are paramount to a high quality program. As a City Coordinator, you must have the ability to access and recruit local mentors to participate in the entire five weeks of the program. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="meaning-single">
					<div class="row">
						<div class="large-3  medium-3 small-12 columns">
							<div class="logistics"></div>
						</div>
						<div class="large-9 medium-9 small-12 columns">
							<div class="meaning-single-title">
								<h3>Logistics</h3>
							</div>
							<div class="organize-text">
								<p>No one person can successfully lead a program alone. You will need to recruit and manage a small team of locally recruited volunteers to prepare the venue on a weekly basis, order and set up dinner, and maintain the cleanliness of the venue.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="meaning-single">
					<div class="row">
						<div class="large-3  medium-3 small-12 columns">
							<div class="fundraising"></div>
						</div>
						<div class="large-9 medium-9 small-12 columns">
							<div class="meaning-single-title">
								<h3>Fundraising</h3>
							</div>
							<div class="organize-text">
								<p>NEXT is designed for and built by the community. You are encouraged to reach out to various local interests to fundraise and provide scholarships for you local program. </p>
							</div>
						</div>
					</div>
				</div>
			</div>  
		</div>

	</div>
</section> 

<section>
	<div class="row">
		<div class="large-10 medium-10 columns">
			<div id="who">
				<div id="who-title">
					<h2>Who Can Organize a NEXT Program? </h2>
				</div>
				<div class="organize-program">
					<div class="who-single-title">
						<h3>Experienced Startup Weekend Organizers</h3>
					</div>
					<div class="organize-text">
						<p>A strong Startup Weekend organizing history indicates that you have developed deep roots within your entrepreneurial ecosystem and can access and recruit the top mentors in your community to be a part of the program.</p>
					</div>
				</div>
				<div class="organize-program">
					<div class="who-single-title">
						<h3>Entrepreneurial Organizations</h3>
					</div>
					<div class="organize-text">
						<p>Active institutions that support the development of entrepreneurship such as co-working spaces, entrepreneurial clubs, incubators, accelerators, etc. can all organize a NEXT program on behalf of their institution.</p>
					</div>
				</div>
				<div class="organize-program">
					<div class="who-single-title">
						<h3>Experienced Entrepreneurs</h3>
					</div>
					<div class="organize-text">
						<p>Serial entrepreneurs who have concrete experience fundraising and building a company using the Customer Development methodology. We offer an online training program for entrepreneurs who want to give back to the community through NEXT, but are not familiar with the Customer Development methodology.</p>
					</div>
				</div>
				<div class="row">
					<div class="large-6  medium-6 columns">
						<a class="involved-button green-button" href="#"> Coordinate a program </a>
					</div>
				</div>
			</div>
		</div> 
	</div>
</section>

{% endblock %}
