/* line 1, ../sass/scissorstyles.scss */
#mission-title {
  font-size: 35px;
  color: #262523;
  text-align: center;
  margin-top: 80px;
  line-height: 1.87;
}

/* line 9, ../sass/scissorstyles.scss */
#mission-button {
  margin-top: 32px;
}

/* line 13, ../sass/scissorstyles.scss */
#beliefs-title {
  margin-top: 85px;
  font-size: 27px;
  /*font-family: "ITC Avant Garde Gothic Pro";*/
  color: #262523;
  font-weight: bold;
  line-height: 1.296;
  text-align: center;
  /*
  position: absolute;
  left: 262px;
  top: 493px;
  width: 949px;
  height: 122px;
  z-index: 45;
  */
}

/* line 30, ../sass/scissorstyles.scss */
#beliefs-text {
  margin-top: 28px;
  font-size: 15px;
  font-family: "proxima-nova",sans-serif;
  color: #262523;
  /*font-weight: bold;*/
  line-height: 1.296;
  text-align: center;
}

/* line 40, ../sass/scissorstyles.scss */
.impact-stats {
  background-color: #f3f3f0;
  margin-top: 105px;
  padding-top: 68px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  max-width: 100%;
  -moz-box-shadow: inset 0 0 47px -2px #e2e2df;
  -webkit-box-shadow: inset 0 0 47px -2px #e2e2df;
  box-shadow: inset 0 0 47px -2px #e2e2df;
}

/* line 52, ../sass/scissorstyles.scss */
#impact-title {
  font-size: 27px;
  color: #262523;
  font-weight: bold;
  line-height: 1.296;
  text-align: center;
}

/* line 60, ../sass/scissorstyles.scss */
.big-numbers {
  padding-top: 57px;
  font-family: "proxima-nova",sans-serif;
  font-size: 20px;
  color: #262523;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
}

/* line 70, ../sass/scissorstyles.scss */
.impact-text {
  margin-top: 20px;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  color: #262523;
  line-height: 1.296;
  text-align: center;
}

/* line 79, ../sass/scissorstyles.scss */
#leaders-title {
  font-size: 28px;
  color: black;
  line-height: 0.893;
  text-align: center;
  font-weight: bold;
}

/* line 87, ../sass/scissorstyles.scss */
#leaders-list {
  margin-top: 69px;
}

/* line 91, ../sass/scissorstyles.scss */
.separator {
  margin-left: 41.66px;
  margin-right: 41.66px;
}

/* line 96, ../sass/scissorstyles.scss */
.leaders-name {
  font-size: 18px;
}

/* line 100, ../sass/scissorstyles.scss */
.leader-title {
  font-size: 15px;
}

/* line 104, ../sass/scissorstyles.scss */
.leaders-info {
  margin-top: 22px;
  line-height: 23px;
  color: black;
  text-align: center;
  margin-bottom: 70px;
  text-align: center;
}

/*
.leaders-twitter{
	margin-bottom: 35px;
}
*/
/* line 117, ../sass/scissorstyles.scss */
a.leader-twitter {
  color: #3dda85;
  font-size: 12px;
}
